doctype html
html
    head
        title Express Boilerplate
        link(href="/common/site.css", rel="stylesheet", type="text/css")
    body
        nav.navbar.navbar-default.navbar-fixed-top
        .container
            .row
                .col-xs-12
                    h1 Express Boilerplate