doctype html
html
    head
        title Express Boilerplate
        link(href="/common/site.css", rel="stylesheet", type="text/css")
        
    body
        .container
            .row
                .col-xs-12
                    h1 GitHub Pages Template