doctype html
html
    head
        block title
        link(href="/common/site.css", rel="stylesheet", type="text/css")
        block styles
    body
        nav.navbar.navbar-default.navbar-fixed-top
        .container
            block content